body {
    background: url('http://homework.local/Firm/Images/Фон.jpg');
}
#countries{
    width:800px;
    height: 950px;
    background-color: beige;
    margin-left: 20% ;
    border: solid black 3px;
}
#select_country{
    width:700px;
    margin-left: 13%;
}
.do_file{
    background: url('http://homework.local/Firm/Фон.jpg');
}
.final_count{
    margin-right:5%;
    border: solid black 2px;
    margin-left: 50%;
}
.form{
    width:600px;
    border: solid black 2px;
    background-color: lightblue;
    margin-left: 14%;
    margin-top: 5%;
}
A:link {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
}


